<div class="container">
  <div class="self">
    <div class="user-avatar">
      <app-user-avatar photo="/assets/imgs/me.jpeg"></app-user-avatar>
    </div>
    <h1>Daniel Prado</h1>
  </div>

  <div class="social-media">
    <div *ngFor="let sm of socialMedia">
      <div class="container">
        <a [href]="sm.link" target="_blank">
          <div class="icon">
            <img [src]="sm.displayIcon" [alt]="sm.displayText"/>
          </div>
          <p>{{sm.displayText}}</p>
        </a>
      </div>
    </div>
  </div>
</div>